apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: statusquarkusio-katz
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-dkud-tenant/status-quarkus-io/statusquarkusio-katz@sha256:ff489a896d15d707113133d66f11f2d494273b847d7cf030a73794dcd475b5e5
        name: my-java-quarkus
        resources: {}
status: {}
